<h2>Entrada de Texto</h2>
<input v-model="text"> {{ text }}

<h2>Caixa de Verificação</h2>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">Verificado: {{ checked }}</label>

<!--
  Múltipla caixas de verificação podem vincular
  o mesmo valor de v-model do arranjo
-->
<h2>Múltipla Caixa de Verificação</h2>
<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
<label for="jack">Jack</label>
<input type="checkbox" id="john" value="John" v-model="checkedNames">
<label for="john">John</label>
<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
<label for="mike">Mike</label>
<p>Nomes verificados:
<pre>{{ checkedNames }}</pre>
</p>

<h2>Rádio</h2>
<input type="radio" id="one" value="One" v-model="picked">
<label for="one">Um</label>
<br>
<input type="radio" id="two" value="Two" v-model="picked">
<label for="two">Dois</label>
<br>
<span>Escolhido: {{ picked }}</span>

<h2>Seleção</h2>
<select v-model="selected">
  <option disabled value="">Por favor selecione um</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<span>Selecionado: {{ selected }}</span>

<h2>Múltipla Seleção</h2>
<select v-model="multiSelected" multiple style="width:100px">
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<span>Selecionado: {{ multiSelected }}</span>
